/Ejercicios_Guia_3_Enc_4Al6/build/
/Ejercicios_Guia_3_Enc_4Al6/nbproject/private/
/Ejercicios_Guia_2_Enc_3y4/build/
/Ejercicios_Guia_2_Enc_3y4/nbproject/private/
/Ejercicios_Guia4__Enc_7y8/build/
/Ejercicios_Guia4__Enc_7y8/nbproject/private/
/Ejercicios_Guia_4__Enc_7y8/build/
/Ejercicios_Guia_4__Enc_7y8/nbproject/private/
/A-EjerciciosDeMaterialDeTrabajo/nbproject/private/
/Ejercicios_Guia_5_Enc_9al11/nbproject/private/
/Ejercicios_Guia_5_Enc_9al11/build/
/Ejercicios_Guia_5_Enc_9al11_Extras/nbproject/private/
/Ejercicios_Guia_5_Enc_9al11_Extras/build/
/PurebaGit/nbproject/private/
/PurebaGit/build/